<!DOCTYPE html>
<html>
<head>
  <title>Monster Slayer</title>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHP + '%'}">
                  {{ playerHP }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHP + '%'}">
                  {{ monsterHP }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-if="gameIsRunning">
        <div class="small-12 columns">
            <button id="attack" @click="attack()">ATTACK</button>
            <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
            <button id="heal" @click="heal()">HEAL</button>
            <button id="give-up" @click="giveUp()">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="combatLog.length">
        <div class="small-12 columns">
            <ul>
                <li :class="(index + 1) % 2 === 0 ? 'monster-turn' : 'player-turn'" v-for="(message, index) in combatLog">
                  {{ message }}
                </li>
            </ul>
        </div>
    </section>
</div>

<!--SCRIPTS-->
<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>